.mob-contact{
    width: 100%;
    background-color: #1A1A1A;
    padding: 0 80px;
    padding-top: 140px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
}

.mob-contact-box {
    box-sizing: border-box;
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 7px; */
}

.mob-contact-box-left {
    min-width: 290px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.mob-contact-box-left img{
    width: 281px;
    height: 80px;
}

.mob-contact-box-left-text {
    color: #fff;
    font-family: MiSans;
    font-weight: 250;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 2%;
    margin-top: 23px;
    text-align:justify;
}

.mob-contact-box-right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 140px;
    margin-top: 140px;
}

.mob-content-box-right-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.mob-content-box-right-item-title {
    font-family: MiSans;
    font-weight: 520;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 6%;
    color: white;
    margin-bottom: 14px;
}

.mob-content-box-right-item-text {
    font-family: MiSans;
    font-weight: 330;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 6%;
    color: #FFFFFFB2;
    margin-top: 24px;
    cursor: pointer;
}

.mob-ewm {
    margin-top: 24px;
    width: 100px;
    height: 100px;
}

.mob-contact-icp {
    flex: 1;
    box-sizing: border-box;
    margin:0  100px;
    padding: 40px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #FFFFFF1A;
    margin-top: 58px;
    align-items: center;
    justify-content: center;
}

.mob-contact-icp-text {
    font-family: MiSans;
    font-weight: 250;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 2%;
    color: #808080;
}
.mob-contact-icp-text span{
    cursor: pointer;
}