@font-face {
  font-family: "iconfont"; /* Project id 5081549 */
  src: url('iconfont.woff2?t=1765865599199') format('woff2'),
       url('iconfont.woff?t=1765865599199') format('woff'),
       url('iconfont.ttf?t=1765865599199') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up-s:before {
  content: "\e6ad";
}

.icon-down-s:before {
  content: "\e60c";
}

.icon-caidan:before {
  content: "\e653";
}

.icon-dep_tab2:before {
  content: "\e609";
}

.icon-dep_tap3:before {
  content: "\e60a";
}

.icon-dep_tap1:before {
  content: "\e60b";
}

.icon-refresh:before {
  content: "\e6a9";
}

.icon-mx:before {
  content: "\e6ac";
}

.icon-qxz:before {
  content: "\e6ab";
}

.icon-api:before {
  content: "\e6aa";
}

.icon-tab1:before {
  content: "\e600";
}

.icon-tab2:before {
  content: "\e601";
}

.icon-tab3:before {
  content: "\e602";
}

.icon-tab4:before {
  content: "\e603";
}

.icon-tab5:before {
  content: "\e604";
}

.icon-tab6:before {
  content: "\e605";
}

.icon-tab7:before {
  content: "\e606";
}

.icon-dui:before {
  content: "\e607";
}

.icon-no:before {
  content: "\e608";
}

