.solution-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #F6F6F9;
    /* background: linear-gradient(180deg, #ECF2FF 0%, #FFFFFF 100%); */
    width: 100%;
    height: 100%;
    padding-top: 80px;
}