/* ========== 容器布局 ========== */
.introduction-index-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: MiSans;
    font-style: normal;
}

.introduction-idx-company-box {
    height: 920px;
    width: 100%;
    position: relative;
}

/* ========== 顶部内容区域 ========== */
.introduction-idx-content {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('/src/assets/images/img/introduction_bg_about.webp') 50% / cover no-repeat;
    background-size: 100% 800px;
}

.introduction-idx-content-title {
    display: flex;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-weight: 520;
    line-height: 150%;
    letter-spacing: 0.96px;
    margin-top: 138px;
}

.introduction-idx-content-title-color {
    font-size: 48px;
    font-weight: 520;
    line-height: 150%;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    margin-left: 8px;
}

.introduction-idx-content-btn {
    padding: 10px 44px;
    box-shadow: none;
}

.introduction-idx-company-team {
    display: flex;
    width: 648px;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
}

/* ========== 公司介绍卡片 ========== */
.introduction-idx-company {
    width: 1240px;
    height: 1254px;
    padding: 70px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: -270px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background: url('/src/assets/images/img/transparent_logo_bg.png') no-repeat right 70px top 549px, rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(20px);
}

.introduction-idx-company::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
    padding: 2px;
    background: linear-gradient(180deg, #B4A8FF -8.57%, rgba(125, 104, 255, 0.387857) 34.86%, rgba(125, 104, 255, 0) 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    pointer-events: none;
}

.introduction-idx-company-size {
    font-size: 40px;
    font-weight: 520;
    line-height: 150%;
    letter-spacing: 0.8px;
    width: fit-content;
}

.introduction-idx-company-name {
    display: inline-block;
    background: linear-gradient(256deg, #4E74FF -3.3%, #A557FE 105.24%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.introduction-idx-company-title {
    margin-bottom: 28px;
}

.introduction-idx-company-content {
    color: #666;
    font-size: 16px;
    font-weight: 330;
    line-height: 180%;
    letter-spacing: 0.32px;
}

.indent {
    text-indent: 2em;
}

.introduction-idx-company-data-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative;
}

.introduction-idx-company-data-item:not(:last-child)::after {
    content: '';
    position: absolute;
    right: -100px;
    top: 15%;
    width: 2px;
    height: 70%;
    background: rgba(255, 255, 255, 0.3);
}

.introduction-idx-company-data-item-num {
    color: #fff;
    text-align: justify;
    font-size: 29.528px;
    font-weight: 520;
    line-height: 180%;
    letter-spacing: 0.591px;
}

.introduction-idx-company-data-item-title {
    color: #fff;
    text-align: justify;
    font-size: 16px;
    font-weight: 330;
    line-height: 180%;
    letter-spacing: 0.32px;
}

.introduction-idx-company-desc {
    display: flex;
    flex-direction: column;
    width: 590px;
    margin-top: 58px;
}

.introduction-idx-company-desc-btn {
    width: 84px;
    height: 32px;
    border-radius: 6px;
    background: #26007E;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 14px;
}

.introduction-idx-company-desc-btn::before {
    content: '核心产品';
    background: url('/src/assets/images/img/introduction_btn.png') lightgray 50% / cover no-repeat;
    background-clip: text;
    font-size: 16px;
    font-weight: 520;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.introduction-idx-company-desc-title {
    color: #333;
    font-size: 28px;
    font-weight: 450;
    line-height: 150%;
}

.introduction-idx-company-desc-rig {
    margin-left: auto;
    text-align: right;
    align-items: end;
}
