.cpa-box {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #F9F6FF;
}

.cpa-container {
    padding-left: 148px;
    padding-right: 124px;
    height: 670px;
    max-width: 1440px;
    width: 100%;
    display: flex;
    font-family: MiSans;
    flex-direction: column;
    padding-top: 70px;
}

.cpa-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 520;
    font-style: Semibold;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 2%;
    color: #1B1D22;
}

.cpa-content {
    display: flex;
    justify-content: space-between;

}

.cpa-content-left {
    width: 530px;
    height: 450px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: start;
}

.cpa-ct-left-title {
    color: #333333;
    font-weight: 520;
    font-style: Semibold;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
}

.cpa-ct-left-desc {
    font-weight: 305;
    font-style: Normal;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: justify;
    color: #646464;
    margin-top: 15px;
}

.cpa-content-rig {
    width: 450px;
    height: 450px;
    padding: 25px;
}

.circle-container {
    width: 100%;
    height: 100%;
    position: relative;
}


.circle-item-wrapper {
    position: absolute;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    margin-top: -23px;
}

.circle-out {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border: 1px dashed #DEDEDE;
    position: absolute;
    top: 0;
    left: 0;
    animation: rotate-outer 50s linear infinite running;
}

.circle-in {
    width: 238.233px;
    height: 238.233px;
    border-radius: 50%;
    border: 1px dashed #DEDEDE;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate-inner 50s linear infinite running;
}

.circle-container:hover .circle-out {
    animation-play-state: paused
}

.circle-container:hover .circle-in {
    animation-play-state: paused;
}

.circle-item {
    width: 46px;
    height: 46px;
    object-fit: contain;
    display: block;
    animation: counter-rotate 50s linear infinite running;
}

.circle-container:hover .circle-item {
    animation-play-state: paused;
}

.big {
    width: 54px;
    height: 54px;
}

.circle-in .circle-item {
    animation: counter-rotate-reverse 50s linear infinite running;
}

@keyframes rotate-outer {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-inner {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes counter-rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes counter-rotate-reverse {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.cpa-ct-left-btn {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border-color: transparent;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0 0 0 2px #ffffff;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    margin-top: 100px;
    border-radius: 8px;
    background: linear-gradient(90deg, #4E74FF 0%, #7F49FF 100%);
}

.cpa-ct-left-btn svg {
    position: absolute;
    width: 24px;
    fill: #fff;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.cpa-ct-left-btn .arr-1 {
    right: 25px;
}

.cpa-ct-left-btn .arr-2 {
    left: -25%;
}

.cpa-ct-left-btn .bt-text {
    position: relative;
    z-index: 1;
    transform: translateX(5px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.cpa-ct-left-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(250deg, #6c3ed9, #0f37d7);
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 0;
}
.cpa-ct-left-btn:hover::before {
    opacity: 1;
}
/* .cpa-ct-left-btn:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
} */

/* .cpa-ct-left-btn:hover .arr-1 {
    right: -25%;
}

.cpa-ct-left-btn:hover .arr-2 {
    left: 25px;
}

.cpa-ct-left-btn:hover .bt-text {
    transform: translateX(20px);
}

.cpa-ct-left-btn:hover svg {
    fill: #fff;
} */

.cpa-ct-left-btn:active {
    scale: 0.95;
}