.mob-machine-bg {
    background: linear-gradient(135deg, #0a0a1a 0%, #0a1a30 50%, #0d1025 100%);
}

.mob-mc-in-bottom-box {
    display: flex;
    padding: 20px 0;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #DBE8F3 0%, #FFF 100%);
}

.mob-mc-in-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 325px;
    height: 80px;
    border-radius: 6px;
    border: 1px solid #FFF;
    background: linear-gradient(0deg, rgba(224, 231, 235, 0.00) 0%, #E0E7EB 100%), rgba(255, 255, 255, 0.34);
    box-shadow: 0 0 30px 0 #B2CEE5;
}

.mob-mc-in-item-title {
    color: #000;
    font-size: 28px;
    font-weight: 550;
    line-height: 150%;
    display: flex;
    align-items: center;
}

.mob-mc-in-item-title-color {
    background: linear-gradient(90deg, #4229FF 0%, #4400D5 29.81%, #5260FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 28px;
    font-weight: 550;
    margin-left: 5px;
}
