.amob-maas-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: MiSans;
    background: #FFF;
    box-sizing: border-box;
    background: url(/src/assets/images/img/amaas_bg.webp) lightgray 50% / cover no-repeat;
}

.mob-amaas-content {
    width: 100%;
    padding: 50px 70px;
    /* height: 520px; */
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.mob-amaas-con-title {
    color: #434343;
    text-align: center;
    font-size: 40px;
    font-weight: 550;
    line-height: 150%;
    letter-spacing: 0.8px;
    margin-bottom: 50px;
}

.mob-amaas-con-box {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
    border-radius: 20px;
    border: 1px solid #E6E6E6;
    background: url(/src/assets/images/mob/mob-machine-ams-bg.png) no-repeat ;
    background-position: top center;
    background-size: cover;
}

.mob-amaas-con-box-left {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.mob-amaas-con-box-title {
    color: #000;
    font-size: 32px;
    font-weight: 550;
    line-height: 150%;
    margin-bottom: 25px;
}

.mob-amaas-con-box-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mob-amaas-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.mob-amaas-items li {
    list-style-position: inside;
    color: #333;
    font-size: 27px;
    font-weight: 550;
    line-height: 150%;
}

.mob-amaas-items-desc {
    color: #59595A;
    font-size: 22px;
    font-weight: 305;
    line-height: 150%;
    letter-spacing: 0.44px;
    margin-top: 10px;
}

.mob-amaas-con-box-rig {
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}