.mob-mc-introduce-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF;
    box-sizing: border-box;
}

.mob-mc-introduce-content {
    width: 100%;
    min-width: 1440px;
    height: 744px;
    padding: 60px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mob-mc-introduce-title {
    color: #333;
    text-align: center;
    font-family: MiSans;
    font-size: 38px;
    font-style: normal;
    font-weight: 450;
    line-height: 150%;
    letter-spacing: 0.76px;
}

.mob-mc-introduce-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.mob-mc-introduce-box-item {
    width: 610px;
    height: 230px;
    border-radius: 20px;
    background: #F6F5FF;
    display: flex;
    padding: 35px;
    justify-content: space-between;
    align-items: center;
}

.mob-mc-introduce-box-item-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mob-mc-introduce-box-item-title {
    color: #000;
    font-family: MiSans;
    font-size: 28px;
    font-style: normal;
    font-weight: 450;
    line-height: 150%;
}

.mob-mc-introduce-box-item-list {
    color: #59595A;
    font-family: MiSans;
    font-size: 14px;
    font-style: normal;
    font-weight: 305;
    line-height: 200%;
    margin-top: 14px;
}

.mob-mc-introduce-box-item-rig {
    width: 250px;
    /* min-width: 240px; */
    /* height: 163px; */
}

.mob-mc-introduce-box-item-rig img {
    width: 100%;
}


.mob-mc-introduce-box-item-list li {
    list-style-position: inside;
    margin-left: 6px;
}