.mob-mc-introduce-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF;
    box-sizing: border-box;

    font-family: var(--font-stack);
    font-style: normal;
}

.mob-mc-introduce-content {
    width: 100%;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mob-mc-introduce-title {
    color: #1D2129;
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.8px;
    text-align: center;
}

.mob-mc-introduce-box {
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-top: 54px;
    width: 100%;
}

.mob-mc-introduce-box-item {
    width: 100%;
    border-radius: 20px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.06);
    border: 1px solid #f0f0f0;
    overflow: hidden;
}

.mob-mc-introduce-box-item-left {
    padding: 36px 36px 20px;
}

.mob-mc-introduce-box-item-title {
    color: #1D2129;
    font-size: 28px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 10px;
}

.mob-mc-introduce-box-item-list {
    color: #4E5969;
    font-size: 22px;
    font-weight: 305;
    line-height: 200%;
}

.mob-mc-introduce-box-item-rig {
    width: 100%;
    padding: 0 36px 36px;
}

.mob-mc-introduce-box-item-rig img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 12px;
}

.mob-mc-introduce-box-item-list li {
    list-style-position: inside;
    margin-left: 6px;
}