.case {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 0;
  font-family: var(--font-stack);
  background: #F7F8FA;
}

.case-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0;
  margin-bottom: 16px;
  color: var(--color-text-3);
}

.case-content {
  width: 100%;
  position: relative;
  max-width: 120rem;
  overflow: hidden;
  padding: 0 5rem;
}

.case-scroll-container {
  width: 100%;
  overflow: hidden;
}

.case-scroll-track {
  display: flex;
  align-items: center;
  gap: 50px;
  width: fit-content;
  height: 90px;
  animation: scroll-infinite 250s linear infinite;
  will-change: transform;
  transform: translate3d(0, 0, 0);
}

@keyframes scroll-infinite {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.case-scroll-track:hover {
  animation-play-state: paused;
}

.case-scroll-track>.item-img {
  max-width: 190px;
  width: 190px;
  max-height: 70px;
  flex-shrink: 0;
  border-radius: var(--radius-md);
  overflow: hidden;
}

.case-mask-left {
  position: absolute;
  left: 110px;
  top: 0;
  width: 200px;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.case-mask-right {
  position: absolute;
  right: 110px;
  top: 0;
  width: 200px;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}