.mob-mac_compare_container {
    width: 100%;
    /* height: 730px; */
    display: flex;
    justify-content: center;
    font-family: MiSans;
    font-style: normal;
}

.mob-mac_compare_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 70px;
    padding-bottom: 0;
    gap: 40px;
}

.mob-mac_compare_title {
    color: #434343;
    text-align: center;
    font-size: 40px;
    font-weight: 520;
    line-height: 150%;
    letter-spacing: 0.8px;
}

.mob-mac_compare_img {
    width: 1240px;
    height: 540px;
    border-radius: 20px 20px 0 0;
    user-select: none;
}