.mob-info {
    width: 100%;
    background-color: #fff;
    padding:0 70px ;
    padding-top: 150px;
    padding-bottom: 100px;
    box-sizing: border-box;
}

.mob-info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.mob-info-title {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 30px;
}

.mob-info-title {
    font-family: MiSans;
    font-weight: 520;
    font-size: 44px;
    line-height: 150%;
    letter-spacing: 2%;
    color: #333;
}


.mob-info-content {
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
}

.mob-info-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 300px;
    height: 580px;
    background: #F5F5F5;
    cursor: pointer;
}

.mob-info-item-img {
    width: 100%;
    height: 420px;
    overflow: hidden;
}

.mob-info-item-img img {
    width: 100%;
    height: 100%;
}

.mob-info-item-text {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding:30px;
    /* flex: 1; */
}

.mob-info-text-title {
    font-family: MiSans;
    font-weight: 450;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 2%;
    color: #333;
}

.mob-info-text-desc {
    font-family: MiSans;
    font-weight: 330;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 2%;
    color: #a3a3a3;
    margin-top: 10px;
}

