.solution-tab-container {
    width: 100%;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(90deg, #ECF2FF 70%, #FAFCFF 100%); */
    background: linear-gradient(180deg, #F6F6F9 0%, #FFFFFF 100%);

    
    font-family: MiSans;
    font-style: normal;
}

.solution-tab-content {
    max-width: 1440px;
    height: 100%;
    width: 100%;
    gap: 20px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-bottom: 80px;
}

.solution-tabnav {
    width: 30%;
    max-width: 310px;
    height: 700px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.04);
    padding: 20px;
    gap: 20px;
}

.solution-tabpanel {
    width: 60%;
    max-width: 900px;
    height: 700px;
    padding: 40px;
    border-radius: 14px;
    background: #FFF;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
}

.solution-tabnav-item {
    gap: 10px;
    width: 270px;
    height: 77px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    padding: 15px 0;
}

.solution-tabnav-item-label {
    gap: 10px;
    width: 270px;
    /* height: 77px; */
    padding: 15px 0;
    min-height: 77px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

}

.solution-tabnav-item-label-title {
    display: flex;
    align-items: center;
    gap: 25px;
}

.solution-tabnav-item-label:hover,
.solution-tabnav-item:hover {
    background: #F7F7F7;
    transition: all 0.3s ease;
    cursor: pointer;
}

.solution-item-active {
    background: #F7F7F7;
}

.solution-tabpanel-top {
    padding-bottom: 30px;
    border-bottom: 1px solid #CCC;
}

.solution-tabpanel-title {
    font-size: 24px;
    font-weight: 520;
    line-height: 150%;
    letter-spacing: 0.48px;
    background: linear-gradient(96deg, #6951FF -32.94%, #206EFF 147.78%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.solution-tabpanel-desc {
    color: #666;
    font-size: 18px;
    font-weight: 305;
    line-height: 150%;
    letter-spacing: 0.36px;
    margin-top: 10px;
}

.solution-tabpanel-bottom {
    width: 100%;
    height: 510px;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* overflow: hidden; */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.solution-tabpanel-box {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.solution-tabpanel-box-title {
    color: #4D4D4D;
    font-size: 18px;
    font-weight: 450;
    line-height: 150%;
    letter-spacing: 0.36px;
}

.solution-tabpanel-box-desc,
.solution-tabpanel-box-list {
    color: #666;
    text-align: justify;
    font-size: 18px;
    font-weight: 305;
    line-height: 150%;
    letter-spacing: 0.36px;
}

.solution-tabpanel-box-list {
    list-style-type: decimal;
    padding-left: 20px;
}

.solution-tabpanel-box-list li {}

.solution-tabnav-item-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.solution-tabnav-li {
    color: #999;
    font-size: 18px;
    font-weight: 380;
    line-height: 170%;
    letter-spacing: 0.36px;
}

.solution-tabnav-li-active {
    color: #333;
}

.solution-hint {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 330;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 2%;
    color: #666;
    user-select: none;
}