.section-7 {
  background-color: black;
  /* padding: 70px 100px; */
}

.develop {
  width: 100%;
  /* height: 100%; */
}

.develop-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.dev-title {
  font-family: MiSans;
  font-weight: 520;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 2%;
  color: #fff;
}

.text {
  font-family: MiSans;
  font-weight: 330;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 2%;
  vertical-align: middle;

  color: #A3A3A3;
}

.dev-item-title {
  color: #868AFF;
  font-family: MiSans;
  font-weight: 520;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 2%;

}

.dev-desc {
  font-family: MiSans;
  font-weight: 330;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 2%;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 10px;
}

.dev-content {
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
  height: 300px ;
}

.dev-ox {
  position: relative;
  width: 8000px;
  height: 100%;
}

.dev-content.scroll1::-webkit-scrollbar {

  width: 12px;
  height: 4px;
  background: transparent;
}

.dev-content.scroll1::-webkit-scrollbar-track {
  background: transparent;
}

.dev-content.scroll1::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #242684 0%, #595FF9 21.68%, #8C90FF 47.63%, #595FF9 75.14%, #242684 99.06%);

  border-radius: 6px;
  cursor: pointer;
}

.dev-content.scroll1::-webkit-scrollbar-track {
  background: #242684;
}
.scroll2{
  overflow: hidden;
}
.dev-item{
  position: absolute;
  z-index: 99;
}
.top{
  bottom: 0;
}
.bottom{
  bottom: 1px;
}