.product-container {
    font-family: MiSans;
    box-sizing: border-box;
    user-select: none;
}

.product-items {
    border: 1px solid #EFEFEF;
}

.product-1 {
    background: url('/src/assets/images/img/product_1.webp') no-repeat top;
    background-size: cover;
}

.product-2 {
    background: url('/src/assets/images/img/product_2.webp') no-repeat top;
    background-size: cover;
}

.product-3-1 {
    background: url('/src/assets/images/img/amaas.webp') no-repeat right 80%;
    background-size: 130px 125px;
    background-color: white;
    background-position: right 20px bottom 40%;
}

.product-3 {
    background: url('/src/assets/images/img/product_3.webp') no-repeat right 80%;
    background-size: 130px 125px;
    background-color: white;
    background-position: right 20px bottom 40%;
}

.product-4-kt {
    background: url('/src/assets/images/img/kt.webp') no-repeat right 70%;
    background-size: contain;
    background-color: white;
    /* background-size: 40%; */
}

.product-4-moon {
    background: url('/src/assets/images/img/mooncake.webp') no-repeat right 70%;
    background-size: contain;
    background-color: white;
    /* background-size: 40%; */
}

.more {
    position: relative;
    border: 1px solid #222222;
    border-radius: 6px;
    color: #222;
    display: flex;
    padding: 6px 18px;
    justify-content: center;
    align-items: center;
}

.more:hover {
    cursor: pointer;
    border: 1px solid #4500F5;
    background: linear-gradient(280deg, #8310FE -46.27%, #4A3EFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product-items-tag {
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    font-family: MiSans;
    font-size: 10px;
    font-style: normal;
    font-weight: 380;
    line-height: 150%;
    border-radius: 4px;
}

.tag1 {
    background: linear-gradient(90deg, rgba(69, 0, 245, 0.10) 0%, rgba(205, 105, 255, 0.10) 100%);
}

.tag2 {
    background: linear-gradient(90deg, rgba(0, 102, 245, 0.10) 0%, rgba(162, 156, 255, 0.10) 100%);
}

.tag3 {
    background: linear-gradient(90deg, rgba(69, 0, 245, 0.70) 0%, rgba(205, 105, 255, 0.70) 100%);
}


.more:hover {
    cursor: pointer;
    background: linear-gradient(280.15deg, #8310FE -46.27%, #4A3EFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.more:hover:after {
    background-position: right -1.4rem top -1.4rem;
}