.information-info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
    height: fit-content;
    overflow: hidden;
}

.in-info-title {
    color: #333;
    text-align: justify;
    font-family: var(--font-stack);
    font-size: 40px;
    font-style: normal;
    font-weight: 450;
    line-height: 150%;
    letter-spacing: 0.8px;
    margin-bottom: 60px;
}

.in-info-content {
    max-width: 1440px;
    width: 100%;
    padding: 0 100px;
}

.in-info-item-title {
    color: #1A1A1A;
    font-family: var(--font-stack);
    font-size: 22px;
    font-style: normal;
    font-weight: 450;
    line-height: 150%;
    letter-spacing: 0.44px;
}

.in-info-item-desc {
    color: #A3A3A3;
    text-align: justify;
    font-family: var(--font-stack);
    font-size: 16px;
    font-style: normal;
    font-weight: 330;
    line-height: 150%;
    letter-spacing: 0.32px;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    /* 👈 最多三行 */
    overflow: hidden;
}

.in-info-item-time {
    color: #999;
    font-family: var(--font-stack);
    font-size: 18px;
    font-style: normal;
    font-weight: 330;
    line-height: 150%;
    letter-spacing: 0.36px;
}

.in-info-item {
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.in-info-item-left {
    width: 55%;
    max-width: 680px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.in-info-item-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail-icon {
    font-size: 20px;
    transform: rotate(90deg);
    display: inline-block;
}

.in-info-item-rig {
    width: 40%;
    max-width: 458px;
    height: 100%;
}

.in-info-item-rig img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.in-info-line {
    height: 1px;
    background: rgba(0, 0, 0, 0.10);
    margin: 40px 0;
}