.mob-develop {
  width: 100%;
  box-sizing: border-box;
  background: #000;
  padding:0 65px;
  padding-top: 150px;
  padding-bottom: 140px;
}

.mob-develop-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mob-develop-top-title {
  font-family: MiSans;
  font-weight: 520;
  font-size: 44px;
  line-height: 150%;
  letter-spacing: 2%;
  color: #fff;
}

.mob-develop-top-text {
  font-family: MiSans;
  font-weight: 330;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 2%;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 10px;
}

.mob-develop-content {
  display: flex;
  justify-content: start;
  /* align-items: start; */
  flex-direction: column;
  gap: 140px;
  position: relative;
  margin-top: 200px;
  overflow: hidden;
  height: 2800px;
}

.mob-develop-center {
  width: 4px;
  background: linear-gradient(180deg, #242684 0%, #595FF9 21.68%, #8C90FF 47.63%, #595FF9 75.14%, #242684 99.06%);
  height: 2800px;
  margin: 0 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-300%);
  top: 0;
}

.mob-develop-item {
  display: flex;
  width: 100%;
  justify-content: center;
  /* width: 50%; */
  /* height: 100%; */
  max-height: 300px;
}

.mob-develop-years {
  width: 48%;
  color: #868AFF;
  font-family: MiSans;
  font-weight: 520;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 2%;
}
.mob-develop-content-center{
  width: 4%;
}
.mob-develop-years:first-child {
  display: flex;
  justify-content: flex-end;

}
.mob-develop-content-item:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.mob-develop-content-item:first-child>.mob-develop-content-item-title{
  text-align: end;
}
.mob-develop-content-item img {
  width: 240px;
  height: 140px;
  margin-top: 10px;
}
.mob-develop-content-item{
  width: 48%;
}
.mob-develop-content-item-title {
  /* width: 49%; */
  font-family: MiSans;
  font-weight: 330;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 2%;
  vertical-align: middle;
  color: #A3A3A3;
}