.mob-product {
    background: #F6F6F9;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100vw;
    height: fit-content;
    padding: 20px 0 !important;
    box-sizing: border-box;
}

.mob-product-title {
    color: #1B1D22;
    font-weight: 550;
    font-size: 38px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
}

.mob-product-box {
    box-sizing: border-box;
    width: 100%;
    /* padding: 110px 80px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}

.mob-product-items {
    border-radius: 20px;
    padding: 50px;
    width: 690px;
    background-color: white;
}

.mob-product-1 {
    background: url('/src/assets/images/img/product_1.png') no-repeat top;
}

.mob-product-2 {
    background: url('/src/assets/images/img/product_2.png') no-repeat top;
}

.mob-product-3 {
    background: url('/src/assets/images/img/product_3.png') no-repeat right 80%;
    background-size: 50%;
    background-color: white;
}

.mob-product-4 {
    background: url('/src/assets/images/img/product_4.png') no-repeat right bottom;
    background-size: 55%;
    background-color: white;
}

.mob-product-1,
.mob-product-2 {

    height: 826px;
    background-color: white;
    background-size: cover;
    padding: 50px 65px;
}

.mob-product-3,
.mob-product-4 {
    height: 390px;
}

.mob-product-3-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.mob-product-items-content {
    padding-top: 400px;
    /* padding: 0 2.5rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.mob-product-tags {
    display: flex;
    align-items: center;
    font-family: MiSans;
    font-size: 16px;
    font-style: normal;
    font-weight: 380;
    line-height: 150%;
    gap: 6.604px;
}

.mob-product-items-tag {
    border-radius: 6px;
    padding: 2px 16px;
}

.mob-product-items-title {
    color: #333;
    font-family: MiSans;
    font-size: 30px;
    font-style: normal;
    font-weight: 520;
    line-height: 150%;
    margin-top: 20px;
}

.mob-product-items-desc {
    color: #666;
    text-align: justify;
    font-family: MiSans;
    font-size: 23.114px;
    font-style: normal;
    font-weight: 330;
    line-height: 150%;
    letter-spacing: 0.8px;
}

.mob-product-desc-half {
    width: 50%;
}

.mob-product-desc-60 {
    width: 60%;
}

.mob-product-more-wrapper {
    margin-top: 2.5rem;
}

.mob-product-more-wrapper-small {
    margin-top: 1.25rem;
}

.mob-product-more {
    width: fit-content;
    height: 52px;
    border: #1B1D22 1px solid;
    border-radius: 10px;
    display: flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 6.604px;
    font-size: 22px;
    font-style: normal;
    font-weight: 380;
    line-height: 150%;
    color: #333;
}

.mob-product-more:hover {
    color: #6133CC;
    border: #6133CC 1px solid;
    cursor: pointer;
}

.mob-product-tags {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.mob-tag1 {
    color: #6133CC;
    background: linear-gradient(90deg, rgba(69, 0, 245, 0.10) 0%, rgba(205, 105, 255, 0.10) 100%);
}

.mob-tag2 {
    color: #334FCC;
    background: linear-gradient(90deg, rgba(0, 102, 245, 0.10) 0%, rgba(162, 156, 255, 0.10) 100%);
}

.mob-tag3 {
    color: white;
    background: linear-gradient(90deg, rgba(69, 0, 245, 0.70) 0%, rgba(205, 105, 255, 0.70) 100%);
}