.amaas-introduce-container {
    width: 100%;
    height: 700px;
    display: flex;
    align-self: center;
    justify-content: center;
    font-family: var(--font-stack);
    box-sizing: border-box;
    background: url(/src/assets/images/img/scene_bg.webp) no-repeat center bottom;
    background-size: 100% 60%;
}

.amaas-in-content {
    max-width: 1440px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 100px;
}

.amaas-in-title {
    color: #333;
    text-align: center;
    font-size: 38px;
    font-style: normal;
    font-weight: 450;
    line-height: 150%;
    letter-spacing: 0.76px;
    margin-bottom: 53px;
}

.amaas-in-box {
    display: flex;
    gap: 20px;
}

.amaas-in-item {
    width: 295px;
    height: 430px;
    border-radius: 20px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.amaas-in-item-title {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 450;
    line-height: 150%;
}

.amaas-in-item-desc {
    color: #59595A;
    text-align: justify;
    font-size: 14px;
    font-style: normal;
    font-weight: 305;
    line-height: 180%;
    margin-top: 10px;
}

.amaas-in-item-list {
    margin-top: 10px;
    color: #59595A;
    font-size: 14px;
    font-style: normal;
    font-weight: 305;
    line-height: 200%;
}

.amaas-in-item-list-li{
    display: flex;
    gap: 4px;
}

.amaas-in-item-img {
    width: 235px;
    height: 200px;
    border-radius: 12px;
    background: #F2F2F2;
}

.amaas-in-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}