.section-1 {
    background: url('/src/assets/images/img/index_bg.png');
    background-size: cover;
    background-position: center;
    font-family: MiSans !important;
}
.floating-left {
    position: absolute;
    left: 0;
    top: 30%;
    width: 800px; /* 可自行调整 */
    transform: translate(-60%, -50%);
    pointer-events: none;
    z-index: 1;
}

.floating-right {
    position: absolute;
    right: 0;
    top: 30%;
    width: 1200px; /* 可自行调整 */
    transform: translate(60%, -50%);
    pointer-events: none;
    z-index: 1;
}



.title {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
    padding-bottom: 70px;
}

.title-top {
    font-family: MiSans;
    font-weight: 520;
    font-style: Semibold;
    font-size: 56px;
    line-height: 150%;
    letter-spacing: 2%;
    text-align: center;
}

.title-desc {
    font-family: MiSans;
    font-weight: 305;
    font-style: Normal;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 2%;
    text-align: center;
}

.title-bottom {
    font-family: MiSans;
    font-weight: 305;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 2%;
    text-align: center;
    color: #FFFFFFB2;

}

.index-bottom {
    background: #ffffff72;
    border: 0.89px solid #FFFFFFCC;
    backdrop-filter: blur(18px);
}

.index-line {
    border: 0.89px solid #806BFF33;
}
