.mob-product-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF;
    box-sizing: border-box;
    font-family: MiSans;
    font-style: normal;
}

.mob-product-content {
    width: 100%;
    /* height: 614px; */
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.mob-product-title {
    color: #434343;
    text-align: center;
    font-size: 40px;
    font-weight: 520;
    line-height: 150%;
    letter-spacing: 0.8px;
}

.mob-product-box {
    display: flex;
    gap: 28px;
    margin-top: 50px;
}

.mob-product-box-item {
    width: 610px;
    height: 460px;
    border-radius: 8px;
    background: #E8EAF1;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.06);
    overflow: hidden;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    transition: all 0.3s ease;
}

.mob-product-box-item:hover {
    transform: translateY(-2px);
    transition: all 0.3s ease;
}

.mob-product-box-item-title {
    color: #000;
    font-size: 32px;
    font-weight: 450;
    line-height: 150%;
    letter-spacing: 0.64px;
}

.mob-product-box-item-desc {
    color: #484848;
    font-size: 24px;
    font-weight: 305;
    line-height: 150%;
    letter-spacing: 0.48px;
    margin-top: 10px;
}

.mob-product-box-item:nth-child(1) {
    background: url(/src/assets/images/img/pro1.png) bottom right / 70% 70% no-repeat, #E8EAF1;

}

.mob-product-box-item:nth-child(2) {
    background: url(/src/assets/images/img/pro2.png) bottom right / 80% 80% no-repeat, #F1F2F9;
}

.mob-product-box-item-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 44px;
    padding: 10px 20px;
    background: #806BFF;
    border-radius: 10px;
}

.mob-product-box-item-btn-text {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 380;
    line-height: 150%;
}

.mob-product-box-item-btn .arr-1 {
    width: 24px;
    /* transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1); */
}