.kllm-industry-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    font-family: var(--font-stack);
    padding-top: 80px;
}

.kllm-industry-content {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.kllm-industry-container .studio-carousel-container {
    background-color: transparent !important;
    height: auto;
}
