.section-4 {
    background: #fff;
    min-width: 1000px;
    padding: 50px !important;
}
.kt-box{
    width: 100%;
    padding:60px 50px ;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;

}
.kt-container {
    width: 100%;
    /* max-width: 1440px; */
    display: flex;
    height: 100%;
    align-items: start;
}

.kt-left {
    width: 460px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 30px;
    min-width: 312px;
}

.kt-left-title {
    font-family: MiSans;
    font-weight: 520;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 2%;
    color: #000;
    margin-bottom: 60px;
    min-height: 120px;
}

.kt-left-title-bot {
    user-select: none;
}

.kt-left-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    gap: 22px;
    /* max-width: 65%; */
}

.kt-left-content-item {
    font-family: MiSans;
    padding: 30px 43px;
    box-sizing: border-box;
    border-radius: 16px;
    color: #1A1A1A;
}
.kt-left-content-item-img{
    width: 100%;
    user-select: none;
}
.kt-left-content-item-title {
    font-family: MiSans;
    font-weight: 520;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 2%;
    color: #000;
}

.kt-left-content-item-content {
    font-family: MiSans;
    font-weight: 305;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 2%;
    color: #666;
    margin-top: 6px;
}

.ktbg-1 {
    background-color: #F5F6FA;
}

.ktbg-2 {
    background: #EDEFF7;
}

.ktbg-3 {
    background: #E6E9F5;
}

.kt-right {
    /* width: 50%; */
    flex: 1;
    height: 100% ;
    min-height: 612px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0 100px; */
    padding:85px 80px;
    box-sizing: border-box;
    background-image: url(../../../../assets/images/ktbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    overflow: hidden;
    min-width: 418px;
}


.vido {
    box-sizing: border-box;
    width: 580px;
    height: 320px;
    object-fit: cover;
    /* margin: 50px; */
    border-radius: 16px;
    box-shadow: 12px 14px 40px 0px #0000001A;
    border: 2px solid #E2E2E2
}