.information-index-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.in-idx-content {
    width: 100%;
    /* max-width: 1440px; */
    height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(/src/assets/images/img/introduction_bg.png) 50% / cover no-repeat;
    background-size: 100% 540px;
}

.in-idx-content-title {
    display: flex;
    align-items: center;
    color: #FAFBFD;
    text-align: center;
    font-family: MiSans;
    font-size: 48px;
    font-style: normal;
    font-weight: 520;
    line-height: 150%;
    letter-spacing: 0.96px;
    margin-top: 170px;
}

.in-idx-content-title-color {
    background: linear-gradient(256deg, #4E74FF -3.3%, #A557FE 105.24%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.in-idx-content-btn {
    padding: 10px 44px;
    box-shadow: none;
}