.qt-container {
    height: 411px;
    width: 100%;
    background: url(/src/assets/images/img/question_bg.png) no-repeat center;
    position: relative;
    background-size: cover;
    overflow: hidden;
}

.qt-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: MiSans;
}

.qt-title {
    font-weight: 520;
    font-style: Semibold;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 2%;
    text-align: center;
    /* color: #434343; */
    padding-top: 20px;
    z-index: 1;
    background: linear-gradient(280deg, #CD69FF -46.27%, #530FFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 0;
}

.content {
    position: relative;
    z-index: 1;
    color: #fff;
}