.cpa-box {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #F7F8FA;
}

.cpa-container {
    padding-left: 5rem;
    padding-right: 5rem;
    height: auto;
    max-width: 120rem;
    width: 100%;
    display: flex;
    font-family: var(--font-stack);
    flex-direction: column;
    padding-top: 120px;
    box-sizing: border-box;
    padding-bottom: 0;
}

.cpa-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 46px;
    line-height: 56px;
    letter-spacing: 0;
    color: #1D2129;
}

.cpa-content {
    display: flex;
    justify-content: space-between;
}

.cpa-content-left {
    width: 40%;
    flex-shrink: 0;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.cpa-ct-left-title {
    color: #1D2129;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0;
    text-align: left;
}

.cpa-ct-left-desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0;
    text-align: justify;
    color: var(--color-text-2);
    margin-top: 16px;
}

.cpa-content-rig {
    width: 60%;
    flex-shrink: 0;
    height: 720px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.circle-container {
    width: 100%;
    max-width: 720px;
    height: 100%;
    position: relative;
}

.circle-item-wrapper {
    position: absolute;
    width: 88px;
    height: 88px;
    margin-left: -44px;
    margin-top: -44px;
}

.circle-out {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    animation: rotate-outer 50s linear infinite running;
}

.circle-in {
    width: 330px;
    height: 330px;
    border-radius: 50%;
    border: 1px dashed #E5E6EB;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate-inner 50s linear infinite running;
}

.circle-container:hover .circle-out {
    animation-play-state: paused
}

.circle-container:hover .circle-in {
    animation-play-state: paused;
}

.circle-item {
    width: 88px;
    height: 88px;
    object-fit: contain;
    display: block;
    animation: counter-rotate 50s linear infinite running;
}

.circle-container:hover .circle-item {
    animation-play-state: paused;
}

.big {
    width: 96px;
    height: 96px;
}

.circle-in .circle-item {
    animation: counter-rotate-reverse 50s linear infinite running;
}

@keyframes rotate-outer {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes rotate-inner {
    from { transform: translate(-50%, -50%) rotate(0deg); }
    to { transform: translate(-50%, -50%) rotate(-360deg); }
}

@keyframes counter-rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(-360deg); }
}

@keyframes counter-rotate-reverse {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.cpa-ct-left-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 12px 32px;
    border-color: transparent;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 0 0 2px #ffffff;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    margin-top: 100px;
    border-radius: var(--radius-md);
    background: linear-gradient(90deg, #4E74FF 0%, #7F49FF 100%);
}

.cpa-ct-left-btn svg {
    margin-left: 10px;
    width: 24px;
    fill: #fff;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.cpa-ct-left-btn .arr-1 {
    right: 25px;
}

.cpa-ct-left-btn .arr-2 {
    left: -25%;
}

.cpa-ct-left-btn .bt-text {
    position: relative;
    z-index: 1;
    transform: translateX(5px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.cpa-ct-left-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(250deg, #6c3ed9, #0f37d7);
    border-radius: var(--radius-md);
    opacity: 0;
    transition: opacity 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 0;
}

.cpa-ct-left-btn:hover::before {
    opacity: 1;
}

.cpa-ct-left-btn:active {
    scale: 0.95;
}