.mob-index {
    background: url('@/assets/images/img/mb_index_bg.png') lightgray 50% / cover no-repeat;
    background-size: cover;
    /* background-position: 43%; */
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 50px;
}

.mob-title {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 180px ; 
}

.mob-title-top {
    font-family: MiSans;
    font-weight: 305;
    font-size: 26px;
    text-align: center;
    background: linear-gradient(269.87deg, #C2A5FF -10.1%, rgba(255, 255, 255, 0.8) 49.85%),
        linear-gradient(89.87deg, #B2A6FF 0.11%, rgba(255, 255, 255, 0) 50.16%);
    -webkit-background-clip: text;
    background-clip: text;

    /* 设置文本填充颜色为透明 */
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    animation: tracking-in-expand 1s ease-in-out both;
}

.mob-title-center {
    font-family: MiSans;
    font-weight: 450;
    font-size: 65px;
    line-height: 76px;
    letter-spacing: 2%;
    text-align: center;

    margin-top: 14px;
    background: linear-gradient(269.87deg, #D0CCFF -10.1%, rgba(255, 255, 255, 0.8) 49.85%),
        linear-gradient(90.25deg, #B4A8FF 0.22%, rgba(255, 255, 255, 0) 102.33%);

    -webkit-background-clip: text;
    background-clip: text;

    /* 设置文本填充颜色为透明 */
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    animation: tracking-in-expand 1s ease-in-out both;
}

.mob-line {
    padding: 25px 0;
}

.mob-line img {
    width: 100px;
}

.mob-title-bottom {
    font-family: MiSans;
    font-weight: 305;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 2%;
    text-align: center;
    margin-top: 25px;
    color: #FFFFFFB2;

}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        /* 字母间距从负值开始 */
        opacity: 0;
        /* 初始透明度为0 */
    }

    100% {
        letter-spacing: normal;
        /* 字母间距恢复正常 */
        opacity: 1;
        /* 最终透明度为1 */
    }
}