.model-header {
    border-bottom: 1px solid #0000001A;
}

.model-content-left-tab-item-open {
    font-family: MiSans;
    font-weight: 380;
    font-style: Medium;
    font-size: 10px;
    line-height: 150%;
    letter-spacing: 0px;
    text-decoration: underline;
    color: #6951FF;

}

.model-content-left-tab-item-btn {
    border: 1px solid #F0F0F0;
    cursor: pointer;
}

.model-content-left-tab-item-btn:hover {
    border: 1px solid #6951FF;
}

.model-btn-active {
    border: 1px solid #6951FF;
    color: #000;
}

.model-content-right-card {
    background: linear-gradient(285.58deg, rgba(105, 81, 255, 0.3) -52.99%, rgba(255, 255, 255, 1) 33.97%);
}

.model-content-card-tag {
    background: linear-gradient(90deg, rgba(191, 184, 255, 0.3) 0%, rgba(216, 175, 255, 0.3) 100%);
    font-size: 10px;
    font-family: MiSans;
    font-weight: 380;
    font-style: Medium;
    line-height: 18px;
    letter-spacing: 0px;
    padding: 0 6px;
    border-radius: 4px;
}

.model-content-card-status {
    font-family: MiSans;
    font-weight: 380;
    font-style: Medium;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0px;
    padding: 0 6px;
    border-radius: 4px;

}

.model-content-card-btn {
    border-top: 1px solid #D5D5D5;
}

.model-content-card-btn-item {
    color: #808080;
    transition: all 0.4s;

    .model-content-card-btn-item-icon {
        color: #808080;
        transition: all 0.4s;
    }
}

.model-content-card-btn-item:hover {
    color: #6951FF !important;
    transition: all 0.4s;

    .model-content-card-btn-item-icon {
        color: #6951FF;
        transition: all 0.4s;
    }
}

.progress-bar .progress-close-icon {
    display: none;
}
.progress-bar:hover .progress-close-icon {
    display: block;
}


.text-h {
  font-family: MiSans;
  font-weight: 450;
  font-style: Demibold;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0px;

}

.text-t {
  font-family: MiSans;
  font-weight: 380;
  font-style: Medium;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}

.text-d {
  font-family: MiSans;
  font-weight: 330;
  font-style: Regular;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
}

.elipsis-l1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ellipsis-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  /* 限制为2行 */
  overflow: hidden;
  /* 超出的文本隐藏 */
  text-overflow: ellipsis;
  /* 显示省略号 */
  white-space: normal;
  /* 允许文本换行 */
}
.ellipsis-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  /* 限制为2行 */
  overflow: hidden;
  /* 超出的文本隐藏 */
  text-overflow: ellipsis;
  /* 显示省略号 */
  white-space: normal;
  /* 允许文本换行 */
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scroll-wrap {
  height: calc(100vh - 90px);
  overflow: auto;
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 3px !important;
  }

  &::-webkit-scrollbar-track {
    background-color: none;
    border-radius: 25px;
    // margin-left: 20px !important;
  }

  &::-webkit-scrollbar-thumb {
    // margin-left: 20px;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 25px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #666;
  }

  &::-webkit-resizer {
    display: none;
  }
}