.section-1 {
    /* background: linear-gradient(180deg, rgba(250, 250, 250, 0.00) 0%, #FAFAFA 100%); */
    background: url('/src/assets/images/img/index_bg.png');
    background-size: cover;
    background-position: center;
    font-family: MiSans !important;
    width: 100%;
    height: 800px;
}

.section-2 {
    width: 100%;
    background: #E9E8FA;
    background: url('/src/assets/images/index.png');
    background-size: cover;
    background-position: center;
    color: white;
}

.section-3 {
    width: 100%;
    background: #E9E8FA;
    background: url('/src/assets/images/ktbg.png');
    background-size: cover;
    background-position: center;
}

/* .floating-left {
    position: absolute;
    left: 0;
    top: 30%;
    width: 800px;
    transform: translate(-60%, -50%);
    pointer-events: none;
    z-index: 1;
}

.floating-right {
    position: absolute;
    right: 0;
    top: 30%;
    width: 1200px;
    transform: translate(60%, -50%);
    pointer-events: none;
    z-index: 1;
} */

.carousel-wrapper {
    width: 100%;
    height: 800px;
    position: relative;
    overflow: hidden;
}

.carousel-slides {
    display: flex;
    width: 300%;
    /* 3个页面 */
    height: 100%;
}

.carousel-slides>.section {
    width: 33.333%;
    /* 每个页面占1/3 */
    flex-shrink: 0;
}

.title {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    box-sizing: border-box;
}

.title-top {
    font-family: MiSans;
    font-weight: 520;
    font-style: Semibold;
    font-size: 56px;
    line-height: 150%;
    letter-spacing: 2%;
    text-align: center;
    margin-top: 180px;
}

.title-desc {
    font-family: MiSans;
    font-weight: 305;
    font-style: Normal;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 2%;
    text-align: center;
}

.title-bottom {
    font-family: MiSans;
    font-weight: 305;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 2%;
    text-align: center;
    color: #FFFFFFB2;

}

.title-top-text {
    background: linear-gradient(256deg, #4E74FF -3.3%, #A557FE 105.24%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.index-bottom {
    background: #ffffff72;
    border: 0.89px solid #FFFFFFCC;
    box-shadow: 0 4.538px 34.037px 0 rgba(38, 0, 162, 0.20);
    backdrop-filter: blur(18px);
}

.index-line {
    border: 0.89px solid #806BFF33;
}

/* @media (max-width: 1200px) {
    .index-bottom {
        width: 800px;

    }
    .index-bottom-item {
        
    }
    .index-line{
        margin: 0 10px;
    }
} */

.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 16px 36px;
    border-color: transparent;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0 0 0 2px #ffffff;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 8px;
    background: linear-gradient(90deg, #4E74FF 0%, #7F49FF 100%);
}

.animated-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(250deg, #6c3ed9, #0f37d7);
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 0;
}

.animated-button .bt-text {
    position: relative;
    z-index: 1;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover::before {
    opacity: 1;
}

.animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    text-decoration: none;
}

.animated-button:active {
    scale: 0.95;
}
.ant-dropdown-menu-item{
    padding:6 0!important;
}