.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 20px 75px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1000px;
  box-sizing: border-box;
}

.bg-1 {
  background: #FFFFFFB8;
  backdrop-filter: blur(80px);
}

.navbar-container {
  max-width: 800px;
  width: fit-content;
  /* margin: 0 50px; */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 28px;
  padding: 0 4px;
}

.navbar-item {
  color: #2D3039;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  font-family: MiSans;
  font-weight: 380;
  font-style: Medium;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;

}


.navbar-items {
  color: #00000080;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  font-family: MiSans;
  font-weight: 380;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.logo img {
  width: 114px;
  height: 34px;
}


.navbar-item:hover {
  opacity: 0.8;
  /* color: #4E00CC; */
  cursor: pointer;
}


@keyframes slideIn {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

.ant-dropdown-menu {
  padding: 10px !important;
}

@media (max-width: 1000px) {
  .nav-item {
    color: #FFFFFF80;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    font-family: MiSans;
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;

  }
}

.navbar-btn {
  border-radius: 8px;
  background: #6524FF;
  display: inline-flex;
  padding: 6px 24px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 112px;
  height: 36px;
  color: #fff;
}

.navbar-btn:hover {
  background: #6524FF !important;
  color: #fff;
}