.introduction-index-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    align-items: center;
}

.in-idx-content {
    width: 100%;
    /* max-width: 1440px; */
    height: 610px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/src/assets/images/img/introduction_bg.png) 50% / cover no-repeat;
    background-size: 100% 610px;
}