.product-container {
    font-family: MiSans;
    box-sizing: border-box;
    user-select: none;
}

.product-items {
    border: 1px solid #F2F2F2
}

.product-1 {
    background: url('/src/assets/images/img/product_1.png') no-repeat top;
}

.product-2 {
    background: url('/src/assets/images/img/product_2.png') no-repeat top;
}

.product-3 {
    background: url('/src/assets/images/img/product_3.png') no-repeat center;
}

.product-4 {
    background: url('/src/assets/images/img/product_3.png') no-repeat right;
}

.more {
    position: relative;
}

.more::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    right: 0;
    top: 45%;
    transform: translateY(-50%);
    background-image: url(/src/assets/images/img/more.svg);
    background-size: 2.8rem 2.8rem;
    background-position: right 0 top 0;
    background-repeat: no-repeat;
    transition: all .3s ease-out;
}

.more:hover {
    cursor: pointer;
    background: linear-gradient(280.15deg, #8310FE -46.27%, #4A3EFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.more:hover:after {
    background-position: right -1.4rem top -1.4rem;
}