.section-2 {
    background: #000;
    background-size: cover;
    background-position: center;
    position: relative;
}

.center-shadow {
    width: 384px;
    height: 636px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000eff;
    border-radius: 0px 0px 0px 0px;
    opacity: 0.6;
    filter: blur(433.5076904296875px);
    /* z-index: 1; */
}

.product-box {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: 130px 98px;
    display: flex;
    justify-content: space-between;
}

.product-box .product-box-left {
    /* display: flex; */
    box-sizing: border-box;
    width: 50%;
    min-width: 400px;
    /* height: 100%; */
}

.product-box-left .product-box-left-title {
    font-family: MiSans;
    font-weight: 450;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 2%;
    color: #fff;
}

.product-box-left .product-box-left-title span {
    color: #959DFF;
}

.line-pro {
    margin-top: 60px;
}

.line-pro img {
    width: 80px;
}

.product-box-left-content {
    /* width: 50%; */
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.product-content-item {
    font-family: MiSans;
}

.product-content-item-title {
    font-weight: 450;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 2%;
    color: #FFFFFF;
    margin-bottom: 10px;
    margin-top: 30px;
}

.product-content-item-text {
    font-weight: 380;
    font-size: 18px;
    line-height: 147%;
    letter-spacing: 0px;
    color: #cccccc;

}

.product-box-right {
    width: 50%;
    position: relative;
    min-width: 592px;
    /* overflow: hidden; */
}

.product-box-right-img{
    position: absolute;
    width: 100%;
    height: 100%;
    right: -98px;
    top: 69px;
    overflow: hidden;
}
.product-box-right-img img{
    width: 100%;

}