@font-face {
  font-family: "MiSans";
  src: url("/public/MiSans\ VF.ttf");
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.app {
  max-width: 1440px;
}
.fp-overflow{
  max-width: 1440px;
  width: 100%;
  height: 100%;
}
.section {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  min-width: 1000px;
}

/* .section .title {
  color: white;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease;
} */

/* .section.active .title {
  opacity: 1;
  transform: translateY(0);
} */
.fp-watermark {
  display: none;
}




