.section-9 {
    height: 500px !important;
    background-color: #FAFCFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 530px !important;
    /* justify-content: center; */
    /* align-items: start; */
    /* justify-content: start; */
}

.contact-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 120px;
}

.section-9>.fp-overflow {
    overflow: auto;
}

.contact-box {
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
    min-width: 1000px;
    max-width: 1440px;
    /* height: 100%; */
    display: flex;
    justify-content: space-between;
    /* margin-top: 7px; */
    margin-top: 20px;

}

.contact-box-left {
    min-width: 380px;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    /* margin-right: 150px; */
}

.contact-box-left-text {
    color: #fff;
    font-family: MiSans;
    font-weight: 250;
    font-size: 14px;
    line-height: 26px;
    font-family: MiSans;
    text-align: justify;

    letter-spacing: 2%;
    margin-top: 51px;
    max-width: 400px;
}

.contact-box-right {
    /* width: 65%; */
    /* flex: 1; */
    margin-left: 20px;
    display: flex;
    /* justify-content: space-between; */
    gap: 50px;
}

.content-box-right-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    user-select: text;
    width: 72px;
}


.content-box-right-item-title {
    font-family: MiSans;
    font-weight: 460;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 6%;
    color: #333333;
    margin-bottom: 14px;
}

.content-item-text {
    font-family: MiSans;
    font-weight: 330;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 6%;
    color: #33333399;
    margin-top: 16px;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
}

.content-item-text:hover {
    color: #333;
}

.ewm {
    width: 100px !important;
    height: 100px !important;
}

.canlogo {
    width: 190px;
    height: 54px;
    /* position: absolute;
    top: -20px; */
}

.contact-icp {
    flex: 1;
    box-sizing: border-box;
    margin: 0 100px;
    padding-top: 40px;
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    border-top: .3px solid #33333330;
    margin-top: 58px;
    align-items: center;
    justify-content: center;
}

.contact-icp-text {
    font-family: MiSans;
    font-weight: 250;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 2%;
    color: #999;
}

.contact-icp-text span {
    cursor: pointer;
}

.contact-box-left-up {
    width: 385px;
    gap: 24px;
    display: flex;
    margin-top: 30px;
}

.contact-box-left-up-items {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.up-item-box {
    width: 48px;
    height: 48px;
    border-radius: 8px;
}

.contact-user{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    margin-top: 12px;
}

.contact-user-text {
    color: rgba(51, 51, 51, 0.60);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: MiSans;
    font-size: 14px;
    font-style: normal;
    font-weight: 330;
    line-height: 130%;
    letter-spacing: 0.84px;
    user-select: text;
}