.mob-amaas-introduce-container {
    width: 100%;
    /* height: 700px; */
    display: flex;
    align-self: center;
    justify-content: center;
    font-family: MiSans;
    box-sizing: border-box;
    /* background: url(/src/assets/images/img/scene_bg.png) no-repeat center bottom; */
    background-size: 100% 60%;
    background: linear-gradient(180deg, #FEFEFE 2.11%, #D3D8FE 100%);
}

.mob-amaas-in-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 65px;
}

.mob-amaas-in-title {
    color: #333;
    text-align: center;
    font-size: 38px;
    font-style: normal;
    font-weight: 450;
    line-height: 150%;
    letter-spacing: 0.76px;
    padding: 20px 0;
}

.mob-amaas-in-desc {
    color: #333;
    font-size: 27px;
    font-weight: 305;
    line-height: 150%;
    letter-spacing: 0.54px;
    display: flex;
    margin-bottom: 64px;
}

.mob-amaas-in-desc-line {
    color: #DBDBDB;
}

.mob-amaas-in-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mob-amaas-in-item {
    width: 100%;
    /* height: 728px; */
    border-radius: 20px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
}

.mob-amaas-in-item-title {
    color: #000;
    font-size: 32px;
    font-weight: 450;
    line-height: 150%;
    margin-bottom: 16px;
}

.mob-amaas-in-item-desc {
    color: #59595A;
    text-align: justify;
    font-size: 14px;
    font-style: normal;
    font-weight: 305;
    line-height: 180%;
    margin-top: 10px;
}

.mob-amaas-in-item-list {
    color: #59595A;
    font-size: 24px;
    font-weight: 305;
    line-height: 200%;
    margin-bottom: 31px;
}

.mob-amaas-in-item-list-li {
    display: flex;
    gap: 4px;
}

.mob-amaas-in-item-img {
    width: 100%;
    /* height: 200px; */
    border-radius: 12px;
    background: #F2F2F2;
}

.mob-amaas-in-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}